@model ITKT_PROJEKTAS.Entities.Reservation

@{
    ViewData["Title"] = "Ištrinti rezervaciją";
}


<h3>Ar tikrai ištrinti?</h3>
<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ištrinti" class="btn btn-danger" /> |
        <a asp-action="IndexAdmin">Atgal</a>
    </form>
</div>
