@model IEnumerable<ITKT_PROJEKTAS.Entities.Reservation>

@{
    ViewData["Title"] = "Rezervacijos";
}

<h1>Mano rezervacijos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonCount)
            </th>
             <th>
                Paslaugos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="Routes/DetailsUser/@Html.DisplayFor(modelItem => item.Route.Id)">@Html.DisplayFor(modelItem => item.Route.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonCount)
                </td>
               
                    @if (item.Paslauga.Count > 0)
                    {
                        <td>
                        @foreach (var aa in item.Paslauga)
                        {
                            <div>@aa.Name</div>
                        }
                        </td>
                    }
                    else
                    {
                        <td>
                            -
                        </td>
                    }
                
            </tr>
        }
    </tbody>
</table>
