@using ITKT_PROJEKTAS.Entities
@model ITKT_PROJEKTAS.Entities.RouteOrderDTO

@{
    ViewData["Title"] = "Maršrutas";
}

<h1>Details</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="PassOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Difficulity)
                </dt>
                <dd class="col-sm-10">
                @Html.DropDownListFor(model => model.Difficulity, 
                    Html.GetEnumSelectList<Difficulity>(),
                    "Pasirinkti sunkuma", new { @class = "form-control" })
                </dd>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerPerson" class="control-label"></label>
                <input asp-for="PricePerPerson" class="form-control" />
                <span asp-validation-for="PricePerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeople" class="control-label"></label>
                <input asp-for="MaxPeople" class="form-control" />
                <span asp-validation-for="MaxPeople" class="text-danger"></span>
            </div>
            
            <dd class="col-sm-10">
                @Html.DropDownListFor(m => m.PeopleCount,
                new SelectList(Enumerable.Range(1, @Model.MaxPeople)),
                "Pasirinkti dalyvių skaičių", new { @class = "form-control" })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Boat)
            </dt>
            <dd class="col-sm-10">
            @Html.DropDownListFor(model => model.Boat, 
                Html.GetEnumSelectList<BoatType>(),
                "Pasirinkti valtis", new { @class = "form-control" })
            </dd>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
