@using ITKT_PROJEKTAS.Entities
@model RouteOrderDTO

@{
    ViewData["Title"] = "Rezervacijos kūrimas";
}

<h1>Rezervacija</h1>
<h1>Maršruto informacija:</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="PassOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Passingid" />
            <input type="hidden" asp-for="Description" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" readonly />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerPerson" class="control-label"></label>
                <input asp-for="PricePerPerson" class="form-control" readonly />
                <span asp-validation-for="PricePerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeople" class="control-label"></label>
                <input asp-for="MaxPeople" class="form-control" readonly/>
                <span asp-validation-for="MaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Difficulity" class="control-label"></label>
                    <dd class="col-sm-10">
                        @Html.DropDownListFor(model => model.Difficulity,
                        Html.GetEnumSelectList<Difficulity>(),
                        "Pasirinkti sunkuma", new { @class = "form-control" , @disabled = "disabled" })
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <dt>
                    <h1>Pasirinkti duomenis:</h1>
                </dt>
            </div>
            <div class="form-group">
                    <label asp-for="Boat" class="control-label"></label>
                <dd class="col-sm-10">
                    @Html.DropDownListFor(model => model.Boat,
                    Html.GetEnumSelectList<BoatType>(), new { @class = "form-control" })
                </dd>
            </div>
            <div class="form-group">
                <label asp-for="PeopleCount" class="control-label"></label>
                <dd class="col-sm-10">
                    @Html.DropDownListFor(m => m.PeopleCount,
                    new SelectList(Enumerable.Range(1, @Model.MaxPeople)), new { @class = "form-control" })
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <h1>Pasirinkti papildomą paslaugą(neprivaloma)</h1>
                </dt>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Paslauga</label>
                    <dd class="col-sm-10">
                        @Html.DropDownListFor(model => model.PaslaugaId,
                        (IEnumerable<SelectListItem>)ViewBag.Paslaugos,"Nereikalinga paslauga", new { @class = "form-control" })
                    </dd>
                </div>
            </div>
            </br>
            @{
                if (ViewBag.Erorras != null)
                {
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Erorras
                        </div>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Rezervuoti" class="btn btn-primary" />
            </div>
        </form>
    </div>
       <div class="col-md-4">
           <h1>Aprasymas</h1>
           @Model.Description
       </div>
</div>
